<?xml version="1.0" encoding="utf-8" ?>
<!-- use this to update app.config locally:
    git update-index -assume-unchanged App.config" -->
<configuration>
	<appSettings>
		<!-- Overrides to these can be specified as environment variables -->		
		<add key="CONFLUENCE_API" value=""/>
		<add key="CONFLUENCE_USER" value="nate.canen@chghealthcare.com"/>
		<add key="CONFLUENCE_URL" value="https://chghealthcare.atlassian.net/wiki"/>
		<add key="CONFLUENCE_SPACE" value="PDE"/>
		<add key="CONFLUENCE_TOP_PAGE_NUM" value="930532"/>
		
		<!-- Override of this can be passed as an argument to the program -->
		<add key="OUTPUT_FILE" value="d:\temp\PDEConfluenceStructure.mm"/>
	</appSettings>
</configuration>