<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Overrides to these can be specified as environment variables -->		
		<add key="CONFLUENCE_API" value="ATATT3xFfGF0FZrU2sJn_wUXObVcEnfY-NI930gcAkHbG-KYbauHQyLGHmg_1G33d_aS6pE2NC3LMXJrXNZmZQORbuj9UFQdYbEE4CrAI2YE-4Tmki3RjdJz5N7kJFN_i2RalTh3lpqQ3Slwo7jwiCh7jfJ5JWNczj8XqLSH8C0iOwXEW_tIDjw=13557CD3"/>
		<add key="CONFLUENCE_USER" value="nate.canen@chghealthcare.com"/>
		<add key="CONFLUENCE_URL" value="https://chghealthcare.atlassian.net/wiki"/>
		<add key="CONFLUENCE_SPACE" value="PDE"/>
		<add key="CONFLUENCE_TOP_PAGE_NUM" value="930532"/>
		
		<!-- Override of this can be passed as an argument to the program -->
		<add key="OUTPUT_FILE" value="c:\temp\PDEConfluenceStructure.mm"/>
	</appSettings>
</configuration>