<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Overrides to these can be specified as environment variables -->		
		<add key="CONFLUENCE_API" value="ATATT3xFfGF07Lv9O22Ba4l80WRc7cRsXVF1ey8zDgDZaqY6qe7Kv16r422gRiUaTAkMJBFyP7d3_UqRxZ3gDkgHxt13hax38W0beNvLIWjwtfZulF8yi9z6ScurUIwJstKVLNlxtFiGfmm951uuGHEwM1qHjynGNiCS5qYIa_Kk6PF0xG4Ht5U=6E3F813E"/>
		<add key="CONFLUENCE_USER" value="nate.canen@chghealthcare.com"/>
		<add key="CONFLUENCE_URL" value="https://chghealthcare.atlassian.net/wiki"/>
		<add key="CONFLUENCE_SPACE" value="PDE"/>
		<add key="CONFLUENCE_TOP_PAGE_NUM" value="930532"/>
		
		<!-- Override of this can be passed as an argument to the program -->
		<add key="OUTPUT_FILE" value="d:\temp\PDEConfluenceStructure.mm"/>
	</appSettings>
</configuration>